<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/signup.css" rel="stylesheet">
	</head>
	<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!--  <a href="/" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
              <%for(i=0;i<nav.length;i++){%>
            <li>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>  
            <%}%> 
          </ul>
          <ul class="nav navbar-right navbar-nav">
         
          </ul>
        </nav>
      </div>-->
      <a href="/" class="navbar-brand">Home</a>
    <a href="<%=nav[2].link%>" class="navbar-brand"><%=nav[2].name%></a>
    <a href="<%=nav[3].link%>" class="navbar-brand"><%=nav[3].name%></a>
    </div>
 
    </header>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
      
          <p class="lead"></p>
        </h1>
      </div>
      <br>
      <br>
     <!-- <div class="col-md-5">
        <div class="well well-lg"> <h2>Welcome to Library App</h2>
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> --><!-- /cont -->
  
  <!--<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
<!--</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">-->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
      
        <div class="col-md-4">
            
           
          <div class="row" style="margin-top: 5px; box-shadow: 1px 1px 70px 10px black;">

          <form action="<%=nav[0].link%>" onsubmit="return validate()">
  
            
            <label for="password"><h2 style="font-family: Lucida Handwriting;"><u><bold>Sign Up</bold></u></h2></label>
            <input type="email"  placeholder="Enter your email" id="email">
            <br>
            <label for="error1" id="error1"></label>

            <input type="password"  placeholder="Enter your password" id="password">
            <br>
            <label for="error4" id="error4"></label>

            <input type="password"  placeholder="Confirm Password" id="pass">
            <br>
            <label for="error" id="error"></label>

           

            <label for="birthday"></label>
            <input type="date" id="birthday"  name="birthday">
            
            <input type="text"  placeholder="Enter your mobile number" id="number">
            <br>
            <label for="error3" id="error3"></label>
          
              <button id="submit"><h5><bold>SIGN UP</bold></h5></button>
            
           <a href="#"> <p class="text-center" style="color: black;"><u>FORGET PASSWORD ?</u></p></a>
           
        </div>
      
            <div class="col-md-4">
              
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-2">
          
            </div>
        </div>
        </div>
      <script>
                  let password=document.getElementById("password");
                  let error=document.getElementById("error");
                  let pass=document.getElementById("pass");
                  let error4=document.getElementById("error4");
                  let email=document.getElementById("email");
                  let error1=document.getElementById("error1");
                  let number=document.getElementById("number");
                  let error3=document.getElementById("error3");
                  function validate(){
                let exp=/^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$/;
                 if(exp.test(email.value)){
                  error1.innerHTML=" Email is Valid";
                  error1.style.color="Green";
                
              }
              else{
                  error1.innerHTML=" Email is Invalid";
                  error1.style.color="Red";
                  return false;
                
                 
              }
      
      
      //coments//
      
              let regexp=/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
                 if(regexp.test(password.value)){
                 // error.innerHTML="Password is Valid";
                  error.style.color="Green";
                  
              }
              else{
                 // error.innerHTML="Password is Invalid";
                  error.style.color="Red";
                  return false;
              }
      //confirm
      if(pass.value== password.value) {  
     error4.innerHTML = "**Passwords are same"; 
     error4.style.color="Green";
     
      
    } else {  
      error4.innerHTML = "**Passwords are not  same"; 
      error4.style.color="Red"; 
      return false; 
    }  
   
 
      //confirm
                 
                  //comments//
          
                 let nexp=/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
                 if(nexp.test(number.value)){
                  error3.innerHTML="Mobile Number is Valid";
                  error3.style.color="Green";
                  
              }
              else{
                  error3.innerHTML="Mobile Number is invalid";
                  error3.style.color="Red";
                  return false;
                  
              }
      
                  }
                  
              </script>
          
      
      </body>
      </html>